{% extends "layout.html" %}


{% block main %}
    <form action="/new_signature" method="post">
        <label for="privateKey">Private key </label>
        <textarea class="form-control" name="privateKey" id="private" cols="30" rows="5"></textarea>
        <div class="container mt-5">

            <div class="row">    
                <div class="col-sm">
                    <label for="sender">sender</label>
                <input type="text" class="form-control mx-auto w-auto" name="sender" placeholder="sender">
                </div>
                <div class="col-sm">
    
                    <label for="receiver">receiver</label>
                    <input type="text" class="form-control mx-auto w-auto" name="receiver" placeholder="receiver">
                </div>
                <div class="col-sm">
    
                    <label for="amount">amount</label>
                    <input type="text" class="form-control mx-auto w-auto" name="amount" placeholder="amount">
                </div>
                
            </div>
        </div>

        <button class='btn btn-primary mt-5' type="submit">generate signature</button>



    </form>
{% endblock main %}